# Files to exclude from the repository
target/
!**/src/main/**/target/
!**/src/test/**/target/
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

# Compiled class files
*.class

# Log files
*.log

